.benefits {
  height: 100%;
  border: 1px solid #fff6f8;
  padding: 40px;
  background-color: #fff;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  box-shadow: 10px 10px 30px gray;
  margin-top: 40px;

  .benefits-image {
    flex: 0 0 auto;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    color: $primary-dark;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $primary-dark;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }

  .benefits-title {
  }
  .benefits-content {
    margin-bottom: 0;
    margin-top: 0;
  }
}
