.intro {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  h1 {
    color: $white;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 100%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 50px;
    }
  }
  h2 {
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $white;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
}

.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}

.frontpagedesc {
  background: rgba(50, 50, 50, 0.5);
  padding: 20px 20px 2px 20px;
  text-align: center;
  border-radius: 30px;
}

.frontpageads {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  h1  {
    color: $black;
    font-size: 22px;
    text-align: center;
  }
  h2  {
    color: $black;
    font-size: 20px;
    text-align: center;
  }
  p  {
    color: $black;
    font-size: 15px;
    text-align: center;
  }
}

.button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
