.library {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 30px;
  padding: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  .library-image {
    flex: 0 0 auto;
    width: 120px;
    height: 120px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  h1 {
    color: $primary-dark;
  }
  p {
    font-size: 1.2rem;
    font-weight: light;
    line-height: 1.5;
    color: $primary-dark;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
  }
  h2 {
    margin-top: 20px;
  }
  ul {
    list-style-type: none;
  }

  .library-title {
  }
  .library-content {
    margin-bottom: 0;
    margin-top: 0;
  }
}
