---
layout: default
bodyClass: "page-home"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ page.title }}</title>
  <!-- Other meta tags, stylesheets, and scripts may also be present here -->
</head>
<body class="{{ page.bodyClass }}">

<div class="intro bg2">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-8 order-1 order-md-1">
        <video width="100%" height="auto" muted loop autoplay controls preload="auto">
          <source src="/videos/omh_intro.mp4" type="video/mp4">
        </video>
	<p></p>
        {{ content }}
      </div>
      
        <div class="col-12 col-md-4 col-lg-4 order-2 order-md-2 position-relative">
        <div class="frontpageads">
          <h1>Join us in Shanghai on Sept 26 to learn more about OMH</h1>
          <a href="https://conference2023.gosim.org/" target ="_blank"><img src="/images/main/gosim.png" style="width: 50%;margin-bottom:10px;"/></a>
          <a href="https://conference2023.gosim.org/schedule#mobile" target ="_blank"><img src="/images/main/gosim_speaker.png" style="width: 100%;"/>
          <h2>Unleash The Potential of Every Mobile Device Through Open Mobile Hub Android SDK</h2></a>
          <img src="/images/main/KubeCon-CloudNativeCon-China.png" style="width: 50%;margin-bottom:10px;"/></a>
        </div>
          
        </div>
        <!--To restore the original image, rename the file omh_intro_old.png to omh_intro.png, and remore the reference to the gosim conference, and the width 85% and margin_left additions-->
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-light-blue">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature reveal fade-bottom">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>

        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
